.btn {
    background-color:black;
    color: white;
    max-width: 250px;
    padding:15px;
    text-align: center;
    font-family: Lato;
    border: none;
}
.btn:hover {
    color:  black;
    background-color: #F4AE72;
    cursor: pointer;
}