.header {
    padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    background: #F4AE72;
    color: white;
    text-decoration-color: black;
    font-family: Lato;
    font-size: 30px;
  }
