label{
    font-family: Lato;
    font-size: large;
}
input{
    font-family: Lato;
    font-size: medium;
}
option{
    font-family: Lato;
    font-size: medium;
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin : 0 auto;
}
.div-inline{
    display: inline-block;  
}
.inline-child{
    display: inline-block;
    vertical-align: top;
    margin: 0px 16px;
    padding: 8px;
}