/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
    width : 100%;
    background-color: black;
  }
  .divFill{
    margin: 0 auto;
    background-color: black;
  }
  /* Style the links inside the navigation bar */
  .navbar a {
    color: white;
    text-align: center;
    padding: 5px 16px;
    margin: 0px;
    text-decoration: none;
    font-size: 24px;
    font-family: Lato;
    display: inline-block;  
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: black;
    color: black;
    
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: black;
    color: white;
  }

  .icon{
    width : 30px;
    height: 30px;
    margin: 0px 8px;
    display: inline-block;
  }