.text {
    font-size: calc(20px);
    line-height: calc(20px);
    font-family: Lato;
    margin-bottom: 5px;
}
.text-sub{
    font-size: calc(12px);
    line-height: calc(12px);
    font-family: Lato;
    margin-bottom: 5px;
}